.container
  display: flex
  flex-direction: row
  justify-content: space-between
  
.logo
  font-size: 37px
  font-family: 'Roboto', sans-serif
  color: rgb(0, 2, 3)
  line-height: 1.2
  text-align: left


.header__search
  display: flex
  flex-direction: row
  align-items: center

.search
  border: 1px solid #dcdee0
  font-size: 12px;
  font-family: 'Roboto', sans-serif
  color: rgb(46, 50, 54)
  line-height: 1.2

