=default-font($deffont)
  font-family: 'Roboto', sans-serif
  font-size: $deffont
  
body
  font-size: 12px
  
h3
  @include default-font(20px)
  color: rgb(56, 62, 66)
  text-transform: uppercase
  margin-top: 10px
  margin-left: 10px
  font-weight: 100

h4
  @include default-font(17px)
  color: rgb(56, 62, 66)
  font-weight: 100
  margin-left: 10px
  text-align: left

.h4-blue
  color: rgb(10, 79, 139)
  line-height: 2.941

h6
  @include default-font(13px)
  color: rgb(92, 101, 108)
  font-weight: 100
  margin: 0 0px 32px 10px

h5
  @include default-font(13px)
  color: rgb(10, 79, 139)
  margin-top: 24px
  margin-left: 10px
  font-weight: 100
  

p
  @include default-font(12px)
  color: rgb(92, 101, 108)
  line-height: 1.2
  margin-bottom: 24px
  margin-left: 10px
  
.round-btn
  text-decoration: none
  @include default-font(10px)
  color: rgb(46, 50, 54)
  border: 1px solid #dcdee0
  padding: 6px 8px 6px 8px
  border-radius: 12px
  height: 27px
  width: 53px
  margin-top: 7px
  margin-left: 10px

