=default-font($deffont)
  font-family: 'Roboto', sans-serif
  font-size: $deffont
  
body
  font-size: 12px
  
h3
  @include default-font(20px)
  color: rgb(56, 62, 66)
  text-transform: uppercase
  margin-top: 10px
  margin-left: 10px

h6
  @include default-font(13px)
  color: rgb(92, 101, 108)
  margin-left: 10px
