.container
  display: grid
  grid-template-columns: 33% 33% 33%
  
.container a
  text-decoration: none
  
.collections, .other-links, .getting-started
  border: 1px solid #dcdee0
  border-right: 0

.collections
  border-left: 0

.icon-collections, .icon-link
  float: right
  position: relative
  top: -37px
  font-size: 29px 
  fill: #99a1a7
  margin-top: 10px
  margin-right: 24px
  
  
.icon-paperplane
  float: left
  font-size: 29px 
  margin-right: 12px
  margin-top: 10px
  margin-left: 10px


