.container
  display: grid
  grid-template-columns: 33% 33% 33%
  
.container a
  text-decoration: none
  
.collections, .other-links, .getting-started
  border: 1px solid #dcdee0
  border-right: 0
  padding-left: 14px
  padding-bottom: 26px

.collections
  border-left: 0

.icon-collections, .icon-link
  float: right
  position: relative
  top: -37px
  font-size: 29px 
  fill: #99a1a7
  margin-top: 18px
  margin-right: 28px
  
  
.icon-paperplane
  float: left
  font-size: 42px 
  margin-right: 12px
  margin-top: 14px
  margin-left: 20px
  fill: white
  
.getting-started
  padding-left: 0

.getting-started__headline
  background-color: #60686f
  padding-top: 8px
  margin-bottom: -6px
  

.getting-started__headline h6
  margin-bottom: -17px
  margin-top: -3px

.getting-started__headline h3
  margin-top: 0px
  padding-top: 10px
  color: white
  
.getting-started__headline h6
  padding-bottom: 10px 
  color: white
  
.getting-started__headlinebtn
  float: right
  position: relative
  top: -30px
  width: 86px
  margin-right: 4px
  color: white

.float:after  
  content: ""
  clear: both
  display: table
  
.twitter
  background-color: #edeff1
  padding: 23px 25px 0
  font-size: 12px
  padding-bottom: 0

.twitter__userpic
  float: left
  margin-right: 13px

.icon-speech
  fill: #99a1a7
  font-size: 30px
  
.twitter__username 
  @include default-font(18px)
  margin-top: 3px
  
.twitter__username a
  color: rgb(56, 62, 66)
  
.twitter__user
  @include default-font(13px)
  margin-bottom: 40px

.twitter__user a
  color: rgb(10, 79, 139)

.twitter__speechicon 
  float: right
  font-size: 48px
  margin-right: -5px

.twitter__text
  @include default-font(16px)
  color: rgb(96, 104, 111)
  line-height: 1.2
  
.twitter__date
  @include default-font(13px)
  color: rgb(96, 104, 111)
  margin-top: 36px

.icon-twitter
  font-size: 24px
  position: relative
  top: 7px
  fill: #99a1a7
  
.twitter__arrows
  width: 100%
  text-align: right
  position: relative
  top: -20px

.twitter__arrowleft, .twitter__arrowright
  background-color: white
  display: inline-block
  padding: 6px 6px 3px 6px
  border-radius: 22px
  
.communities 
  padding: 15px 8px 30px 19px
  
.icon-share
  float: right
  font-size: 42px
  fill: #99a1a7
  margin-top: 10px
   
.icon-table
  fill: #99a1a7

.seemore-blockarea
  display: flex
  flex-direction: row
  margin-left: 10px
  
.seemore-block
  border: 1px solid #dcdee0
  margin-right: 20px
  padding: 10px
  text-align: center
  width: 110px
  height: 110px

.seemore-block .round-btn
  margin: 0
  
 
@media (max-width: 640px)
  
  .getting-started
    grid-column: 1 / 4
    grid-row: 1
    
  .collections
    grid-column: 1 / 4
    
  .other-links
    grid-column: 1 / 4

  .getting-started__headlinebtn
    top: -10px
    margin: 0
    
@media (max-width: 1020px)

  .getting-started
    grid-column: 1/3
    grid-row: 1
    
  .other-links
    grid-column: 1 / 4

  .seemore-block h4
    margin-bottom: 22px


@media (min-width: 1100px)
  .getting-started__headlinebtn
    margin-right: 14px
  
