<div class="footer">
    <div class="footer__nav">
        <div>
            <a href="#"><span class="footer__navitem">Users and Groups</span></a>
             <a href="#"><span class="footer__navitem">Help</span></a> 
        </div>
        <div>
            <a href="#"><span class="footer__navitem">About DocuShare</span></a> 
            <a href="#"><span class="footer__navitem">Statistics</span></a>
        </div>
        <div>
            <a href="#"><span class="footer__navitem">Mobile Client settings</span></a>
            <a href="#"><span class="footer__navitem">Cookies</span></a>
        </div>
    </div>
    <div class="footer__copywright">
        © 1996-2015 SupercompanyCorporation. All Rights Reserved.
    </div> 
</div>

