<div class="footer">
    <ul class="footer__nav">
        <div>
            <a href="#"><li class="footer__navitem">Users and Groups</li></a>
             <a href="#"><li class="footer__navitem">Help</li></a> 
        </div>
        <div>
            <a href="#"><li class="footer__navitem">About DocuShare</li></a> 
            <a href="#"><li class="footer__navitem">Statistics</li></a>
        </div>
        <div>
            <a href="#"><li class="footer__navitem">Mobile Client settings</li></a>
            <a href="#"><li class="footer__navitem">Cookies</li></a>
        </div>
    </ul>
    <div class="footer__copywright">
        © 1996-2015 SupercompanyCorporation. All Rights Reserved.
    </div> 
</div>

