<div class="header">
    <div class="header__container">
        <div class="header__logo">
            <div class="logo">SuperCompany</div>
        </div>
        <div class="header__search">
            <div class="header__searcharea">
                <input class="search" type="text" placeholder="Search" name="search">
            
                <div class="search__icon">
                    <a href="#">{{mixins.icon('search')}}</a>
                </div>
            </div>
                <div class="search__settings">
                    <a href="#">{{mixins.icon('advanced-settings')}} Advanced</a>
                </div>
            
        </div>
        
        <div class="header__account">
           {{mixins.icon('home')}} 
           <a class="header__accountname" href="#"> emma.davidson@caterptillar.com</a>
           <a class="round-btn" href="#">Log out</a>
        </div>
  <!--   </div> -->
        
   <!--  <div class="container"> -->
        <div class="header__nav">
            <a href="#" class="is-active">home</a>
            <a href="#"> {{mixins.icon('home')}} my docushare</a>
            <a href="#">{{mixins.icon('tasks')}}my tasks</a>
            <a href="#">{{mixins.icon('star')}}my favorites</a>
            <a href="#">{{mixins.icon('recent')}}recent</a>
        </div>
        <div class="header__background-jobs">
            <a href="#"> {{mixins.icon('background-jobs')}} background-jobs <span class="header__background-jobsnum">8</span></a>
        </div>
    </div>
</div>