<div class="header">
    <div class="container">
        <div class="header__logo">
            <div class="logo">SuperCompany</div>
        </div>
        <div class="header__search">
            <input class="search" type="text" placeholder="Search">
            <div class="search__icon">
                <a href="#">{{mixins.icon('search')}}</a>
            </div>
            <div class="search__settings">
                <a href="#">{{mixins.icon('advanced-settings')}} Advanced</a>
            </div>
        </div>
        
        <div class="header__account">
           {{mixins.icon('home')}} 
           <a class="header__accountname" href="#"> emma.davidson@caterptillar.com</a>
           <a class="header__logout" href="#">Log out</a>
        </div>
    </div>
        
    <div class="container">
        <div class="header__nav">
            <a href="#" class="is-active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
        <div class="header__background-jobs">
            background-jobs
        </div>
    </div>
</div>