<div class="container">
    <div class="collections">
        <a href="#"><h3>collections</h3></a>
        {{mixins.icon('collections')}}
        <h6>Top level collections</h6>
        <a href="#"><h5>Extranet Materials</h5></a>
        <p>Content for collaboration with external participants.</p>
        <a href="#"><h5>Branding Materials</h5></a>
        <p>All document components (text/graphics/fills/rules, etc.)</p>
        <a href="#"><h5>Print-ready Materials</h5></a>
        <p>The department that generates a print shop request  is responsible for the work.</p>
        <a href="#"><span class = "round-btn">See more</span></a>
    </div>
    <div class="other-links">
        <a href="#"><h3>other links</h3></a>
        {{mixins.icon('link')}}
        <h6>Links to other content</h6>
        <a href="#"><h5>My DocuShare</h5></a>
        <p>Your personalized DocuShare home page</p>
        <a href="#"><h5>WorkCentre Scan Repository</h5></a>
        <p>Temporary storage for scanned documents</p>
        <a href="#"><h5>Contact Information</h5></a>
        <p>Number and e-mail address of the original document  creator.</p>
        <a href="#"><span class = "round-btn">See more</span></a>
    </div>
    <div class="getting-started">
        <div class="getting-started__headline">
            {{mixins.icon('paperplane')}}
            <a href="#"><h3>getting started</h3></a>
            <h6>Not sure what to do?</h6> 
            <a class="float" href="#"><span class = "round-btn getting-started__hedlinebtn">Take a Tutorial</span></a>
        </div>

        <div class="twitter">
            <div class="twitter__speechicon">
                {{mixins.icon('speech')}}
            </div>
            <div class="twitter__userpic">
                <img src="img/twitter-userpic.png" alt="twitter userpic">
            </div>
            <div class="twitter__username">
                <a href="#">BritishMonarchy</a>  
            </div>
            <div class="twitter__user">
                <a href="#">@BritishMonarchy</a>
            </div>

            <div class="twitter__text">
                It is a pleasure to open the Information Age exhibition today at @ScienceMuseum and I hope people will enjoy visiting.
            </div>
            <div class="twitter__date"> {{mixins.icon('twitter')}} 1:35 PM - 24 Oct 2014
            </div>
            <div class="twitter__arrows">
                <div class="twitter__arrowleft"><a href="#">{{mixins.icon('prev')}}</a></div>
                <div class="twitter__arrowright"><a href="#">{{mixins.icon('next')}}</a></div>
            </div>

        </div>

        
    </div>


</div>