<div class="container">
    <div class="collections">
        <a href="#"><h3>collections</h3></a>
        {{mixins.icon('collections')}}
        <h6>Top level collections</h6>
    </div>
    <div class="other-links">
        <a href="#"><h3>other links</h3></a>
        {{mixins.icon('link')}}
        <h6>Links to other content</h6>
    </div>
    <div class="getting-started">
        {{mixins.icon('paperplane')}}
        <a href="#"><h3>getting started</h3></a>
        <h6>Not sure what to do?</h6>
    </div>
</div>