.icon-advanced-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-background-jobs {
  width: 1em;
  height: 1em;
  fill: #157EFB;
}
.icon-collections {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: #6A6E7C;
}
.icon-paperplane {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-prev {
  width: 1em;
  height: 1em;
  fill: #6A6E7C;
}
.icon-recent {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #929292;
}
.icon-share {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-speech {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #2f3435;
}
.icon-table {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-tasks {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #4aa0ec;
}
