.icon-advanced-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-background-jobs {
  width: 1em;
  height: 1em;
  fill: #157EFB;
}
.icon-collections {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-paperplane {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-recent {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #929292;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #2f3435;
}
.icon-tasks {
  width: 1em;
  height: 1em;
  fill: initial;
}
